<!DOCTYPE html>
{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="wrapper">
        <div class="conteiner">
            <div class="content">
                <ul class="nav">
                    <li class="btn">
                        <a href="{% url 'form' %}" class="btn-form">
                            ➕
                        </a>
                    </li>
                    <li class="btn">
                        <a href="{% url 'calendar' %}" class="btn-calendar">
                            📅
                        </a>
                    </li>
                    <li class="btn main" style="margin-bottom: 0px;margin-top: 0px;">
                        <a href="{% url 'index' %}" class="btn-calendar">
                            🏠
                        </a>
                    </li>
                </ul>
                {% if tascks %}
                    <div class="task-list">
                        <ul>
                            {% if p > 0%}
                                <li class="task__complete">
                                    Задачи с переодичностью:
                                </li>
                                {% for a in periodicalTasks %}
                                    {% if a.isDelate %}
                                        {% comment %}
                                            pass
                                        {% endcomment %}
                                    {% else %}
                                        {% if a.tasckStatus %}
                                            {% comment %}
                                                pass
                                            {% endcomment %}
                                        {% else %}
                                            <li class="task">
                                                <form class="form" action="{% url 'edit' a.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" name="save{{ a.id }}" class="btn__none" style="display: none">
                                                        qwertyuiop
                                                    </button>
                                                    {{ form.tasckStatus }} {{a}}, {{a.tasckStartOfTheEventDate}} {{a.tasckStartOfTheEventTime}}, {{a.tasckPlace}}
                                                </form>
                                                <span class="task__edit-delate">
                                                    <a href="{% url 'edit_task' a.id %}" class="btn-edit">
                                                        ✏️
                                                    </a>
                                                    
                                                    <form class="form-delate" action="{% url 'edit' a.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="button" class="btn-delate" id="delate{{a.id}}" value="🗑️">
                                                        {{ form.isDelate }}
                                                    </form>
                                                </span>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                            {% if n > 0%}
                                <li class="task__complete">
                                    Невыполненные задачи:
                                </li>
                                {% for a in tascks %}
                                    {% if a.isDelate %}
                                        {% comment %}
                                            pass
                                        {% endcomment %}
                                    {% else %}
                                        {% if a.tasckStatus %}
                                            {% comment %}
                                                pass
                                            {% endcomment %}
                                        {% else %}
                                            <li class="task">
                                                <form class="form" action="{% url 'edit' a.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <button type="submit" name="save{{ a.id }}" class="btn__none" style="display: none">
                                                        qwertyuiop
                                                    </button>
                                                    {{ form.tasckStatus }} {{a}}, {{a.tasckStartOfTheEventDate}} {{a.tasckStartOfTheEventTime}}, {{a.tasckPlace}}
                                                </form>
                                                <span class="task__edit-delate">
                                                    <a href="{% url 'edit_task' a.id %}" class="btn-edit">
                                                        ✏️
                                                    </a>
                                                    
                                                    <form class="form-delate" action="{% url 'edit' a.id %}" method="POST">
                                                        {% csrf_token %}
                                                        <input type="button" class="btn-delate" id="delate{{a.id}}" value="🗑️">
                                                        {{ form.isDelate }}
                                                    </form>
                                                </span>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% elif n == 0 and m == 0 %}
                                <div class="wrapper">
                                    <div class="conteiner">
                                        <div class="content">
                                            <div class="content__text">
                                                Пока что у вас нет задач 🥺
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if m > 0 %}
                                <li class="task__complete">
                                    Выполненные задачи:
                                </li>
                                {% for a in tascks %}
                                    {% if a.isDelate %}
                                        {% comment %}
                                            pass
                                        {% endcomment %}
                                    {% else %}
                                        {% if a.tasckStatus %}
                                            <li class="task">
                                                <p class="dark">
                                                    {{a}}, {{a.tasckStartOfTheEventDate}} {{a.tasckStartOfTheEventTime}}, {{a.tasckPlace}}
                                                </p>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </ul>
                    </div>
                {% else %}
                    <div class="wrapper">
                        <div class="conteiner">
                            <div class="content">
                                <div class="content__text">
                                    Пока что у вас нет задач 🥺
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <script>
        'use strict';
        function fun1() {
            var checkbox = document.querySelectorAll('.btn__none');
            var form = document.querySelectorAll('.form');
            for (let index = 0; index < checkbox.length; index++) {
                if (checkbox[index].form[2].checked){
                    form[index].submit();
                    break;
                }
            }
        }
    </script>
    <script>
        'use strict';
        var delate = document.querySelectorAll("input.btn-delate");
        var formDelate = document.querySelectorAll(".form-delate");
        for (let index = 0; index < delate.length; index++) {
            delate[index].onclick = function(){
                for (let i = 0; i < delate.length; i++) {
                    delate[index].form[2].checked = !delate[index].form[2].checked
                    formDelate[index].submit();
                    break;
                }
            };
        }
    </script>
{% endblock %}